body { 
background-color: rgb(46, 45, 45);
color: rgb(238, 239, 240);
font-size: 30px;
font-family: sans-serif;
}
div { 
    background-color: rgb(46, 45, 45);
    color: rgb(238, 239, 240);
    font-size: 30px;
    font-family: sans-serif;
    }
